<div class="decoration-lines">
    <div class="deco-0"></div>
    <div class="deco-1"></div>
    <div class="deco-2"></div>
    <div class="deco-3"></div>
    <div class="deco-4"></div>
    <div class="deco-5"></div>
    <div class="deco-6"></div>
    <div class="deco-7"></div>
    <div class="deco-8"></div>
    <div class="deco-9"></div>
</div>
<div class="store-about-image">
    <img src="http://img.f4.thethao.vnecdn.net/2016/08/28/hami-1844-1472367339_180x108.jpg" alt="img">
</div>
<div class="container">
    <div class="content">
        <h3 class="half-bottom">Android 20 coming soon?</h3>
        <p class="news-article-large-text no-bottom">
            <img src="../../assets/images/avt.jpg" alt="img">
            <em>Posted by <a href="#">Enabled</a>, on <a href="#">January 14, 2016</a></em>
            <em>in <a href="#">Mobile</a>, <a href="#">Tablet</a>, <a href="#">Technology</a></em>
        </p>
    </div>
    <div class="decoration-2"></div>
    <p class="Normal">Adam Peaty liên tiếp phá kỷ lục thế giới ở vòng thi loại và chung kết nội dung 100m bơi ếch tại
        Olympic Rio 2016. Anh giành HC vàng hôm 6/8 với thành tích 57,13 giây, một kỷ lục thế giới mới. Sau ba ngày
        tranh
        tài, đây vẫn là tấm HC vàng duy nhất của Anh quốc ở Thế vận hội năm nay. Nhiều khả năng HC vàng 50m ếch cũng sẽ
        thuộc về anh.</p>
    <p class="Normal">Chuyên gia bơi ếch này còn là chủ nhân của kỷ lục thế giới cự ly 50m, và nội dung
        4x100m tiếp sức hỗn hợp lập được hồi năm ngoái. Anh cũng là VĐV đầu tiên chiến thắng ở cả hai đường bơi ếch nước
        rút
        tại cùng một giải Vô địch bơi lội thế giới, khi giành HC vàng 50m và 100m năm 2015. Anh giờ đã được mệnh danh là
        “Hoàng tử hồ bơi”, trở thành một trong những VĐV thành công nhất của lịch sử thể thao Anh quốc.</p>
    <p
            class="Normal">Nhưng chỉ trước đó bảy năm, Adam Peaty ở tuổi 14 vẫn phải bơi cùng làn chậm với những bé gái
        mười
        tuổi tại một CLB bơi địa phương. Và trước nữa, khi còn là một đứa trẻ, anh sợ nước tới mức khó hiểu. Cậu bé
        Peaty
        tức giận mỗi khi tới giờ tắm, nhất quyết không chịu ngồi trong bồn, khiến mẹ phải để cậu đứng khi tắm. Nhưng
        ngay cả
        vòi hoa sen cũng khiến cậu sợ hãi.</p>
    <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption">
        <tbody>
        <tr>
            <td><img alt="adam-peaty-cau-be-so-nuoc-gianh-hc-vang-olympic-voi-ky-luc-boi-ech" data-natural-width="500"
                    src="http://img.f1.thethao.vnecdn.net/2016/08/10/1-6834-1470806369.jpg"></td>
        </tr>
        <tr>
            <td><p class="Image">Peaty là một trường hợp đặc biệt ở Olympic Rio 2016.</p></td>
        </tr>
        </tbody>
    </table>
    <p class="Normal">Ban đầu, gia đình những tưởng Peaty không thể tham gia các buổi tập bơi. Trong ngày đầu được
        đưa đi học bơi, cậu bé đã thét một tiếng rất lớn trước khi nhảy vào vòng tay của mẹ đang đứng cạnh bể bơi.</p>
    <p
            class="Normal">Hôm thứ bảy 6/8 tại Rio de Janeiro, Adam Peaty là một chàng trai khác hẳn. VĐV 21 tuổi, cao
        1m91,
        đã xô đổ kỷ lục cũ của chính bản thân bằng sự điềm tĩnh, qua đó mang về cho Anh quốc tấm HC vàng Olympic đầu
        tiên ở
        môn bơi lội của nam kể từ năm 1988.</p>
    <p class="Normal">“Hành trình phi thường của Peaty, từ cậu bé mắc chứng sợ
        nước tới kỷ lục gia thế giới bơi lội, sẽ không thể có nếu thiếu sự động viên và hy sinh của gia đình đáng yêu”,
        tờ
        <em>Sports Mail</em> của Anh bình luận.</p>
    <p class="Normal">Peaty ít tuổi nhất trong số bốn người con của gia đình.
        Anh hiện vẫn sống cùng bố mẹ trong một căn hộ ở Uttoxeter, vùng Staffordshire. Mẹ anh, Caroline, là một quản lý
        của
        trường mẫu giáo. Cha anh, Mark, là một nhân viên bảo vệ. Cho tới trước khi đến Brazil cổ vũ cho con trai tại
        Olympic
        hồi tuần trước, cha mẹ anh chưa từng đi máy bay. Từ Uttoxeter, Anh, tới Rio de Janeiro cũng là lộ trình xa nhất
        mà
        họ từng trải qua để có thể xem con trai thi đấu.</p>
    <p class="Normal">Người hâm mộ Peaty cuồng nhiệt nhất có lẽ là
        bà nội anh. Bà Mavis đã lập tài khoản Twitter, với nick OlympicNan, ở tuổi 74 chỉ vì cháu trai. “Một cuộc đua
        tranh
        thật hấp dẫn. Tôi rất đỗi tự hào. Cháu trai tôi là một đấu sĩ”, bà Mavis phấn khích chia sẻ trên Twitter sau khi
        Peaty giành HC vàng với thành tích kỷ lục thế giới mới. Bà thậm chí còn đăng kèm một bức ảnh, chụp bà mặc áo có
        logo
        cổ vũ cháu trai “TeamPeaty” và móng tay sơn hình cờ đoàn thể thao Anh quốc. Thậm chí trong khoảng thời gian
        Peaty
        còn thi đấu cho đội bơi lội Anh quốc ở lứa trẻ, chỉ có bà Mavis được phép giặt trang phục thi đấu của Peaty.</p>
    <p
            class="Normal">“Tôi đang đấm vào không khí đây. Chân tôi không còn vững, nếu không tôi sẽ nhảy khắp nơi để
        mừng
        HC vàng và kỷ lục thế giới của cháu trai”, bà Mavis trả lời phỏng vấn truyền hình <em>BBC</em>.</p>
    <p
            class="Normal"><strong>Một ngày của Peaty thường bắt đầu với chuông báo thức vào lúc 4h30 sáng</strong>,
        thực
        hiện các bài tập vận động toàn cơ thể ở trên cạn, trong đó có đu xà. Sau đó, anh tiến hành các bài tập để tăng
        cường
        sức mạnh phần thân trên, cải thiện cơ bắp phục vụ cho nước rút. Anh tập luyện sáu ngày mỗi tuần, và thường xuyên
        đi
        ngủ vào khoảng 8 giờ tối.</p>
    <p class="Normal">Trước các cuộc thi đấu, anh thường nghe nhạc rap. “Nó giúp tôi thêm
        hưng phấn và tăng tinh thần chiến đấu”, Peaty giải thích về thói quen này. Anh nói thêm: “Nhạc rap giúp nhắc nhở
        tôi
        rằng bơi cũng giống như cuộc đấu của một võ sĩ. Tôi thích tinh thần của một võ sĩ giác đấu”.</p>
    <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption">
        <tbody>
        <tr>
            <td><img alt="adam-peaty-cau-be-so-nuoc-gianh-hc-vang-olympic-voi-ky-luc-boi-ech-1" data-natural-width="500"
                     src="http://img.f1.thethao.vnecdn.net/2016/08/10/2-1844-1470806369.jpg"></td>
        </tr>
        <tr>
            <td><p class="Image">Nhà tân vô địch rạng rỡ với tấm Huy chương.</p></td>
        </tr>
        </tbody>
    </table>
    <p class="Normal">Trong số những người thân tới cổ vũ Peaty trực tiếp ở Rio de Janeiro có bạn gái 19 tuổi Anna
        Zair. Họ lần đầu gặp nhau cách đây 18 tháng tại CLB bơi lội City of Derby. Zair cũng từng được đánh giá là một
        tài
        năng đầy hứa hẹn ở nội dung bơi ếch, nhưng giờ cô đang theo học ngành Xã hội học tại Loughborough University,
        nơi
        Peaty thường xuyên tập luyện ở hồ bơi có kích cỡ theo chuẩn Olympic.</p>
    <p class="Normal"><strong>Vòng xoáy định
        mệnh có thể đã không đưa Peaty trở thành một VĐV bơi Olympic,</strong> nếu anh không may mắn lọt vào mắt xanh
        của
        một nữ chuyên gia bơi lội. Ngày Peaty được phát hiện, anh vẫn chỉ là một cậu bé 14 tuổi phải bơi cùng làn chậm
        với
        những cô bé mười tuổi. Mel Marshall, cựu VĐV từng giành huy chương các giải bơi châu Âu và khối Thịnh vượng
        chung,
        khi ấy đã nhận ra tài năng tiềm ẩn trong Peaty. HLV trưởng của CLB bơi City of Derby nhận thấy một điều gì đó
        đặc
        biệt trong động tác bơi ếch của Peaty, và cô nhanh chóng trở thành HLV của anh. Tới giờ, cựu VĐV 34 tuổi này vẫn
        là
        HLV của Peaty, đồng thời là HLV của đội bơi trường Loughborough University.</p>
    <table align="right" border="1" cellpadding="1" cellspacing="0" style="width:30%;">
        <tbody>
        <tr>
            <td><p class="Image"><strong>Thực đơn của Adam Peaty</strong></p>
                <p class="Image">Bữa sáng: Cháo, salad trái cây, trứng luộc, thịt giăm bông và đậu.<br>Bữa trưa: Cá hồi
                    phi
                    lê, khoai tây, rau, sữa.<br>Bữa ăn nhẹ buổi chiều: bánh kếp với trái cây.<br>Bữa tối: cà ri thịt gà
                    kiểu
                    Thái, gạo, rau tươi, bánh gạo sôcôla.</p></td>
        </tr>
        </tbody>
    </table>
    <p class="Normal">Kể từ đó, cha mẹ Peaty cũng bắt đầu cuộc sống vất vả giống như nhiều gia đình khác có con là
        những VĐV năng khiếu.</p>
    <p class="Normal">Mẹ anh cho hay: “Thực sự khó nhọc. Tôi luôn phải thức dậy lúc 4h sáng,
        đưa con đi bơi lúc 5h, rồi mới trở lại nhà để chuẩn bị đi làm cả ngày, và đến tối tiếp tục đưa con đi tập
        luyện”. Bà
        nói tiếp: “Nhưng Adam còn vất vả hơn, bởi vì nó còn phải tới trường học và tham gia đầy đủ các kỳ thi. Dù vậy
        con
        tôi vẫn hoàn thành mọi việc. Chính con đã kéo tôi về phía trước chứ không phải ngược lại. Adam không bao giờ
        phàn
        nàn về việc phải dậy sớm. Nếu tôi muốn nằm trên giường thêm một tiếng đồng hồ, con sẽ nói: ‘Cố lên mẹ ơi, các
        nhà vô
        địch không sinh ra ở trên giường đâu”.</p>
    <p class="Normal">Tiền bạc cũng là vấn đề khó khăn với gia đình Peaty thời
        gian đầu anh theo nghiệp bơi. Những người hàng xóm của gia đình anh đã phải tổ chức các bữa tiệc Giáng sinh và
        tiệc
        nướng trên đường phố để gây quỹ giúp Peaty có chi phí đi lại mỗi khi anh tham gia các giải vô địch quốc gia.
        Cuối
        cùng thì Peaty cũng nhận được khoản đầu tư kinh phí 15.000 bảng mỗi năm từ National Lottery, và sau này tăng
        thành
        30.000 bảng.</p>
    <p class="Normal">Sau những thành công gần đây, Peaty giờ đã có một chiếc xe sang trọng Mercedes
        A45. Nhưng điều giá trị hơn là anh đã đạt được những thành tích đền đáp xứng đáng những người đặt niềm tin vào
        anh.</p>
    <p class="Normal">Bước đột phá trong sự nghiệp của Peaty mới diễn ra cách đây hai năm, tại Đại hội thể thao
        của khối Thịnh vương chung (Commonwealth Games). Khi đó, anh đã gây sốc cho làng bơi thế giới khi đánh bại nhà
        vô
        địch Olympic thời điểm ấy (Cameron van der Burgh, người Nam Phi) tại chung kết bơi 100m ếch. Mùa hè 2015, anh
        giành
        ba danh hiệu vô địch thế giới, trở thành VĐV bơi thành công nhất của Anh quốc ở một kỳ World Championships.</p>
    <p
            class="Normal">“Thật kinh ngạc khi nghĩ lại rằng cháu trai tôi là một cậu bé sợ tắm, nhưng giờ nó lại cho
        thấy
        như thể là một chàng trai sinh ra trong nước”, bà Mavis không giấu được niềm vui khi nói về thành công ngoạn mục
        của
        Peaty trong chương trình truyền hình của BBC. Bà nói tiếp: “Nó đã đưa cho tôi tất cả những huy chương từng giành
        được, để tôi giữ an toàn cho nó. Nhưng lần này chắc cháu tôi sẽ không đưa cho tôi tấm HC vàng Olympic. Đó là một
        thứ
        rất lớn mà nó phải lao động cả đời để giành được”.</p>
    <p align="right" class="Normal"><strong>Nguyễn Phát</strong>
    </p>
</div>
