p {
  margin-bottom: 10px;
}
table {
  margin: 0 auto 10px;
  tbody {
    td {
      padding: 0;
      border: none;
      .Image {
        color: #333;
        background: #f5f5f5;
        padding: 10px;
        margin: 0;
        line-height: normal;
      }
    }
    img {
      border: 0;
      font-size: 0;
      line-height: 0;
      width: 100%;
    }
  }
}

.content {
  padding: 0;
  margin-bottom: 20px;
}

.decoration-2 {
  margin-bottom: 15px;
}