<div class="content-strip">
    <div class="strip-content">
        <h4>News Article List 1</h4>
        <p>Remember, it's just a template!</p>
    </div>
    <div class="overlay"></div>
    <img class="preload-image" data-original="../assets/images/pictures/1.jpg" alt="img">
</div>

<div class="container">
    <div class="row list-posts">
        <app-list-post [page]="hashPage"></app-list-post>
        <div #placeholder></div>
    </div>
    <button id="show-more" (click)="getMorePosts()" class="button button-center button-blue button-fullscreen">More news</button>
</div>
