<div class="header header-dark">
    <a href="javascript:void(0)" (click)="showLeftSidebar()" class="header-icon-1 show-left-sidebar"><i class="fa fa-navicon"></i></a>
    <a href="javascript:void(0)" (click)="gotoHomepage()" class="header-logo"></a>
</div>
<div id="page-content" class="page-content">
    <div id="page-content-scroll">
        <!-- <============= content here  -->
        <router-outlet></router-outlet>
        <!-- content end ===================> -->
        <div class="footer footer-dark">
            <div class="footer-content">
                <a href="#" class="footer-logo"></a>
                <p class="footer-text">We aim to simplify your life by creating beautiful products that are feature
                    rich and easy to use!</p>
            </div>
            <div class="footer-socials">
                <a href="#" class="default-link scale-hover facebook-color"><i class="fa fa-facebook"></i></a>
                <a href="#" class="default-link scale-hover twitter-color"><i class="fa fa-twitter"></i></a>
                <a href="#" class="default-link scale-hover google-color"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="default-link scale-hover phone-color"><i class="fa fa-phone"></i></a>
                <a href="#" class="default-link scale-hover mail-color show-share-bottom"><i
                        class="fa fa-refresh"></i></a>
                <a href="#" class="default-link scale-hover bg-night-dark back-to-top"><i
                        class="fa fa-angle-up"></i></a>
                <div class="clear"></div>
            </div>
            <p class="footer-strip">Copyright <span id="copyright-year"></span> Enabled. All Rights Reserved</p>
        </div>
    </div>
</div>
<div class="sidebar-left">
    <div class="sidebar-scroll-left sidebar-dark-clean">
        <div class="sidebar-image">
            <h3>Welcome to Sidebars</h3>
            <em>Power in simple interfaces</em>
            <div class="sidebar-overlay"></div>
            <img src="../assets/images/pictures/3.jpg" alt="img" class="responsive-image">
        </div>
        <div class="sidebar-divider no-bottom no-top"></div>
        <p class="sidebar-divider">Navigation</p>
        <div class="sidebar-menu">
            <div class="has-submenu">
                <a class="menu-item show-submenu" href="#">
                    <i class="fa fa-home bg-red-dark"></i>
                    <em>Homepages</em>
                    <strong>12</strong>
                </a>
                <div class="submenu">
                    <a class="submenu-item" href="index.html"> <i class="fa fa-angle-right"></i><em> Classic </em><i
                            class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-circle.html"> <i class="fa fa-angle-right"></i><em>
                        Round </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-image.html"> <i class="fa fa-angle-right"></i><em>
                        Image </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-video.html"> <i class="fa fa-angle-right"></i><em>
                        Video </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-news.html"> <i class="fa fa-angle-right"></i><em> News </em><i
                            class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-shop.html"> <i class="fa fa-angle-right"></i><em>
                        Store </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-cover.html"> <i class="fa fa-angle-right"></i><em> Cover
                        Slider </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-login.html"> <i class="fa fa-angle-right"></i><em> Login
                        Screen </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-signup.html"> <i class="fa fa-angle-right"></i><em> Signup
                        Screen </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-landing.html"> <i class="fa fa-angle-right"></i><em> Landing
                        Page </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-splash.html"> <i class="fa fa-angle-right"></i><em> Splash
                        Screen </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="index-mobile.html"> <i class="fa fa-angle-right"></i><em> Home
                        Screen </em><i class="fa fa-circle"></i></a>
                </div>
            </div>
            <div class="has-submenu">
                <a class="menu-item show-submenu" href="#">
                    <i class="fa fa-navicon bg-green-dark"></i>
                    <em>Menu Styles</em>
                    <strong>8</strong>
                </a>
                <div class="submenu">
                    <a class="submenu-item" href="menu-left.html"> <i class="fa fa-angle-right"></i><em> Sidebar
                        Left </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="menu-right.html"> <i class="fa fa-angle-right"></i><em> Sidebar
                        Right </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="menu-dual.html"> <i class="fa fa-angle-right"></i><em> Sidebar
                        Dual </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="menu-footer.html"> <i class="fa fa-angle-right"></i><em> Footer
                        Sticky </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="menu-header.html"> <i class="fa fa-angle-right"></i><em> Header
                        Dropdown </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="menu-material.html"> <i class="fa fa-angle-right"></i><em>
                        Material Circle Menu </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="menu-landing.html"> <i class="fa fa-angle-right"></i><em> Landing
                        Page Menu </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="menu-mobile.html"> <i class="fa fa-angle-right"></i><em> Mobile
                        Home Screen </em><i class="fa fa-circle"></i></a>
                </div>
            </div>
            <div class="has-submenu">
                <a class="menu-item show-submenu" href="#">
                    <i class="fa fa-cog bg-orange-dark"></i>
                    <em>Features</em>
                    <strong>8</strong>
                </a>
                <div class="submenu">
                    <a class="submenu-item" href="features-typography.html"> <i class="fa fa-angle-right"></i><em>
                        Type </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="features-tabs.html"> <i class="fa fa-angle-right"></i><em>
                        Tabs </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="features-toggles.html"> <i class="fa fa-angle-right"></i><em>
                        Toggles </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="features-accordion.html"> <i class="fa fa-angle-right"></i><em>
                        Accordions </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="features-decorations.html"> <i class="fa fa-angle-right"></i><em>
                        Decorations </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="features-notification.html"> <i class="fa fa-angle-right"></i><em>
                        Notifications </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="features-charts.html"> <i class="fa fa-angle-right"></i><em>
                        Charts & Stats </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="features-buttons.html"> <i class="fa fa-angle-right"></i><em>
                        Buttons & Icons </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="features-devices.html"> <i class="fa fa-angle-right"></i><em>
                        Device Detection </em><i class="fa fa-circle"></i></a>
                    <a class="submenu-item" href="features-others.html"> <i class="fa fa-angle-right"></i><em>
                        Others </em><i class="fa fa-circle"></i></a>
                </div>
            </div>
            <a class="menu-item" href="page-blog.html">
                <i class="fa fa-pencil bg-red-dark"></i>
                <em>Blog</em>
                <i class="fa fa-circle"></i>
            </a>
            <a class="menu-item" href="page-videos.html">
                <i class="fa fa-youtube-play bg-green-dark"></i>
                <em>Videos</em>
                <i class="fa fa-circle"></i>
            </a>
            <a class="menu-item" href="page-map.html">
                <i class="fa fa-map-marker bg-blue-dark"></i>
                <em>Map</em>
                <i class="fa fa-circle"></i>
            </a>
            <a class="menu-item" href="contact.html">
                <i class="fa fa-envelope-o bg-orange-dark"></i>
                <em>Contact</em>
                <i class="fa fa-circle"></i>
            </a>
            <a class="menu-item close-sidebar" href="#">
                <i class="fa fa-times bg-red-dark"></i>
                <em>Close</em>
                <i class="fa fa-circle"></i>
            </a>
        </div>
        <p class="sidebar-footer">Copyright 2015. All rights reserved</p>
    </div>
</div>