<div class="decoration-lines">
    <div class="deco-0"></div>
    <div class="deco-1"></div>
    <div class="deco-2"></div>
    <div class="deco-3"></div>
    <div class="deco-4"></div>
    <div class="deco-5"></div>
    <div class="deco-6"></div>
    <div class="deco-7"></div>
    <div class="deco-8"></div>
    <div class="deco-9"></div>
</div>
<div class="store-about-image">
    <img src="{{post.thumb}}" alt="img">
</div>
<div class="container post-content">
    <div class="post-header">
        <h3 class="half-bottom">{{post.title}}</h3>
        <p class="news-article-large-text no-bottom">
            <img src="../../assets/images/avt.jpg" alt="img">
            <em>Posted by <span>Administrator</span>, on <span>{{myMoment(post.created_at).format("dddd, D/M/YYYY | HH:mm")}}</span></em>
            <em>in <span>Mobile</span>, <span>Tablet</span>, <span>Technology</span></em>
        </p>
    </div>
    <div class="decoration-2"></div>
    <div [innerHtml]="post.content"></div>
</div>

<div class="container">
    <h3>Tin khác</h3>
    <div class="row list-posts">
        <app-list-post [listRandom]="true"></app-list-post>
    </div>
</div>
